@font-face {
    font-family: SAMAN;
    src: url('SAMAN___.TTF') format("truetype");
}

.Heading {
    font-family: SAMAN;
    color: rgb(43, 78, 217);
}

#MainFrame {
    text-align: center;
    border: 5px dotted blue;
    width: max-content;
    height: max-content;
}